<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Agrinho</title>
    <link rel="stylesheet" href="/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */">
    <link
      rel="shortcut icon"
      href="img/Imagem do WhatsApp de 2024-07-02 à(s) 08.17.13_97a73e16-Photoroom.png"
      type="image/x-icon"
      width="30px"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/homePage.css" />
    <link rel="stylesheet" href="css/cards.css" />

    <link
      href="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="img/Imagem do WhatsApp de 2024-07-02 à(s) 08.17.13_97a73e16-Photoroom.png" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name">PlantApp</span>
            <span class="profession">Agricultura</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Inicio</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="text nav-text">Em Alta</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">Notificações</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-heart icon"></i>
                <span class="text nav-text">Favoritos</span>
              </a>
            </li>
           <!--<li class="nav-link">
              <a href="#">
                <i class="bi bi-person-circle"></i>
                <span class="text nav-text">Perfil</span>
              </a>
            </li>--> 
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Sair</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <main class="Main">
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <img src="img/bois.webp" />
          <div class="texto">
            <span> Bovinos</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>


        <div class="mySlides fade">
          <img src="img/porcos.webp" />
          <div class="texto">
            <span> Suínos</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>

        <div class="mySlides fade">
          <img src="img/galinhas.jpg" />
          <div class="texto">
            <span> Aves</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>

        <div class="mySlides fade">
          <img src="img/graos.jpg" />
          <div class="texto">
            <span> Grãos</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>

        <div class="mySlides fade">
          <img src="img/trator.jpg" />
          <div class="texto">
            <span> Maquinário</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>

        <div class="mySlides fade">
          <img src="img/tecnologiaNoAgro.jpg" />
          <div class="texto">
            <span> Inovações</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>

        <div class="mySlides fade">
          <img src="img/pinheiro.jpg" />
          <div class="texto">
            <span> Floresta</span><br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quasi itaque qui, rem tenetur ut illo placeat ipsum, delectus eum
            impedit temporibus saepe non modi nobis quibusdam perspiciatis,
            iusto optio.
            <p>
              <a href="#" class="vermais"><button>Ver mais</button></a>
            </p>
          </div>
        </div>
      </div>

        

        <!-- Next and previous buttons -->
        <div class="vaivolta">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>
    </main>
    <script src="js/homePage.js"></script>
    <script src="js/cards.js"></script>
  </body>
</html>
