<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/index.css" />
    <title>Agrinho</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form id="loginForm">
          <h1>Criar uma Conta</h1>
          <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          </div>
          <span>ou use seu email para se registrar</span>
          <input type="text" placeholder="Name" />
          <input type="email" id="email" placeholder="Email" />
          <input type="password" id="password" placeholder="Password" />
          <button type="submit" onclick="next()">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form>
          <h1>TECHGREEN</h1>
          <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          </div>
          <span>or use your email password</span>
          <input id="Email" type="email" placeholder="Email" />
          <input if="Password" type="password" placeholder="Password" />
          <a href="#">Forget Your Password?</a>
          <button type="submit" class="button">Sign In</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Bem-Vindo de volta!</h1>
            <p>
              Entre para nosso site para ficar por dentro das maiores noticias
              do mundo agro
            </p>
            <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Olá, Amigo!</h1>
            <p>Seja bem-vindo a TechGreen!</p>
            <button class="hidden" id="register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/index.js"></script>
    <script src="js/condicao.js"></script>
  </body>
</html>
