<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="stylesheet" href="view/css/manchete.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="view/css/homePage.css" />
    <link
      rel="stylesheet"
      href="/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */"
    />
    <link
      rel="shortcut icon"
      href="img/Imagem do WhatsApp de 2024-07-02 à(s) 08.17.13_97a73e16-Photoroom.png"
      type="image/x-icon"
      width="30px"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img
              src="view/img/Imagem do WhatsApp de 2024-07-02 à(s) 08.17.13_97a73e16-Photoroom.png"
              alt=""
            />
          </span>

          <div class="text logo-text">
            <span class="name">PlantApp</span>
            <span class="profession">Agricultura</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Inicio</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="text nav-text">Em Alta</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">Notificações</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-heart icon"></i>
                <span class="text nav-text">Favoritos</span>
              </a>
            </li>
            <!--<li class="nav-link">
            <a href="#">
              <i class="bi bi-person-circle"></i>
              <span class="text nav-text">Perfil</span>
            </a>
          </li>-->
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Sair</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <main class="corpo">
      <div class="textAtual">
        <h2>Em Alta</h2>
        <div class="iconPage">
          <i class="bx bx-bar-chart-alt-2 icon"></i>
        </div>
       
      </div>
    </main>
    <script src="view/js/homePage.js"></script>
  </body>
</html>
